@charset "UTF-8";
/**** コンテンツ***/

#info footer {
  border-top: 1px solid #ebebeb;
}

/*** ベースラップ**/
.base_wrap {
  text-align: left;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 4rem;
  position: relative
}
@media only screen and (max-width:959px) {
  .base_wrap {
  }
}
@media only screen and (max-width:767px) {
  .base_wrap {
    padding: 0 1rem;
  }
}

/*** flexラップ**/
.flex_wrap {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width:767px) {
  .flex_wrap {
    flex-wrap: wrap;
  }
}


/*** タイトル**/
.TITLE01 {
  margin: 0 0 15px 0;
  padding: 0;
  line-height: 1.2em;
  font-size: 30px;
  font-weight: 700;
  color: #062351;
}
.TITLE02 {
  font-size: 24px;
  font-weight: bold;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 24px;
}
.TITLE02 i {
  display: inline-block;
  width: 56px;
}
.TITLE02 i img {
  max-width: none;
  width: 48px;
  height: auto;
}
.TITLE02 .eng {
  margin: 0;
  padding: 5px 0 0 0;
  line-height: 1.2em;
  font-size: 14px;
  font-family: var(--font-family-UI);
  font-style: italic;
  color: #00245d;
  display: block;
}
.TITLE03 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
  background: var(--c-color-site-org);
  color: #fff;
  padding: 12px;
}
@media only screen and (max-width:767px) {
  .TITLE01 {
    font-size: 24px;
  }
  .TITLE02 {
    font-size: 1.6rem;
    margin: 0 0 16px;
  }
  .TITLE02 i {
    width: 32px;
  }
  .TITLE02 i img {
    width: 24px;
    height: auto;
  }
  .TITLE03 {
    font-size: 18px;
  }
}


.side_TITLE01 {
  width: 100%;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  border-top: 5px solid var(--c-color-site-org);
  border-bottom: 1px solid var(--c-color-site-org);
  background: #fff;
}
.side_TITLE01 h4 {
  font-size: 18px;
  font-weight: 700;
}
.side_TITLE01 h4 .eng {
  font-size: 12px;
  font-weight: normal;
  font-family: var(--font-family-UI);
  font-style: italic;
  color: #7c7c7c;
  display: block;
}



/*-------------------------------------------------*/
/*** コラム一覧**/
.columun_left_wrap {
  flex-basis: 18%;
  max-width: 210px;
  padding: 0 0 50px 0;
}
.columun_left_wrap .columun_right_wrap_sub {
  display: none;
}
.columun_left_wrap > .columun_right_wrap_sub > a > img {
  margin: 0 0 20px !important;
}
.column_kind_wrap {
  width: 100%;
  margin: 0 0 15px;
  background: #f9fafa;
}
.columun_left_wrap .category_part {
  padding: 10px;
}
.columun_left_wrap .category_part li {
  margin: 0 0 10px;
  display: block;
  font-size: 13px;
}
.columun_left_wrap .category_part li::before {
  content: ">";
  margin: 0;
}
.columun_left_wrap .category_part li:last-child {
  margin-bottom: 0
}
.ranking_column {
  display: block;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
}
.ranking_column:last-child {
  border: none;
}
.ranking_column > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ranking_column p {
  font-size: 12px;
  color: #000
}
.ranking_column .ranking_column_img {
  flex-basis: 30%;
}
.ranking_column .ranking_column_img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
.ranking_column .ranking_column_img img[src*="side_rank_"] {
  display: none;
}
.ranking_column .ranking_column_TITLE {
  flex-basis: calc(70% - 12px);
}
.ranking_column .ranking_column_TITLE img {
  width: 32px;
  height: auto;
}
.ranking_column .ranking_column_TITLE > p {
  font-weight: 700;
}
@media only screen and (max-width: 959px) {
  .ranking_column .ranking_column_TITLE > img + p {
    margin-top: 6px;
  }
}
.ranking_column .ranking_column_TITLE p:last-child {
  margin-top: 6px;
  font-weight: 500;
}
.columun_right_wrap_sub > a > img {
  margin: 0 0 15px;
}
.columun_right_wrap_sub .similar_part {
  margin: 0 0 15px;
}
.columun_right_wrap_sub .similar_part .similar_TITLE {
  text-align: center;
  padding: 15px;
}
.columun_right_wrap_sub .similar_part .similar_main {
  padding: 0;
}
.columun_right_wrap_sub .similar_column {
  display: block;
  border-bottom: 1px solid #ebebeb;
  margin: 0 0 10px;
  padding: 0 0 10px;
}
.columun_right_wrap_sub .similar_column:last-child {
  border: none;
  margin: 0;
}
.columun_right_wrap_sub .similar_column > div {
  padding: 0 9px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.columun_right_wrap_sub .similar_column .similar_column_img {
  flex-basis: 25%;
  margin: 0 0 10px;
}
.columun_right_wrap_sub .similar_column .similar_column_img img {
  margin: 0;
}
.columun_right_wrap_sub .similar_column .similar_column_TITLE {
  flex-basis: 70%;
}
.columun_right_wrap_sub .similar_column .similar_column_TITLE > p {
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}
.columun_left_wrap .columun_right_wrap_sub .similar_column .similar_column_TITLE p:last-child {
  display: none;
}
.columun_right_wrap_sub .similar_column .similar_column_detail p {
  text-align: left;
}

.columun_center_wrap {
  flex-basis: 54%;
  max-width: 630px;
}
.columun_center_wrap:only-child {
  flex-basis: auto;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
}
@media only screen and (max-width:767px) {
  .columun_center_wrap {
    flex-basis: 100%;
    max-width: 100%;
    padding-top: 16px;
  }
}

.columun_center_wrap .columun_list_wrap {}
.columun_center_wrap .column_wrap {
  display: block;
  border-bottom: 1px solid #ebebeb;
  padding: 2rem 0;
}
.columun_center_wrap .column_wrap:first-child {
  border-top: 1px solid #ebebeb;
}
.columun_center_wrap .column_wrap:last-child {
  margin-bottom: 15px;
}
.columun_center_wrap .column_wrap > div {
  display: flex;
  justify-content: space-between;
}
.columun_center_wrap .column_wrap .column_img {
  flex-basis: 20%;
}
.columun_center_wrap .column_wrap .column_img img {
  width: 100%;
  height: auto;
}
.columun_center_wrap .column_wrap .column_text {
  flex-basis: calc(80% - 12px);
}
.columun_center_wrap .column_wrap .column_text .column_TITLE {
  font-size: 22px;
  font-weight: 700;
  font-feature-settings: 'palt';
  line-height: 1.3333;
  margin: 0;
}
.columun_center_wrap .column_wrap .column_text > div {
  display: block;
}
.columun_center_wrap .column_wrap .column_text .column_TITLE + div {
  color: #999;
  margin: 4px 0;
}
.columun_center_wrap .column_wrap .column_text .column_main {
  font-size: 14px;
  font-weight: 400;
  font-feature-settings: 'palt';
  line-height: 1.6666;
}
.columun_center_wrap .column_wrap .column_text .column_category {
  display: inline-block;
  color: var(--c-color-site-org);
  font-size: 12px;
}
.columun_center_wrap .column_wrap .column_text .column_date {
  display: inline-block;
  font-size: 12px;
}
@media only screen and (max-width:767px) {
  .columun_center_wrap .columun_list_wrap {
    padding: 0;
  }
  .columun_center_wrap .column_wrap {
    padding: 15px 0;
  }
  .columun_center_wrap .column_wrap .column_text .column_TITLE {
    font-size: 18px;
  }
  .columun_center_wrap .column_wrap .column_text .column_main {
    display: none;
  }
}



.columun_right_wrap {
  flex-basis: 24%;
  max-width: 30rem;
}
.columun_right_wrap > a > img {
  margin: 0 0 15px;
}
.columun_right_wrap .similar_part {
  margin: 0 0 15px;
}
.columun_right_wrap .similar_part .similar_TITLE {
  text-align: center;
  padding: 15px;
}
.columun_right_wrap .similar_part .similar_main {
  padding: 0;
}
.columun_right_wrap .similar_column {
  display: block;
  border-bottom: 1px solid #ebebeb;
  margin: 0 0 10px;
  padding: 0 0 10px;
}
.columun_right_wrap .similar_column:last-child {
  border: none;
  margin: 0;
}
.columun_right_wrap .similar_column > div {
  padding: 0 9px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.columun_right_wrap .similar_column .similar_column_img {
  flex-basis: 25%;
  margin: 0 0 10px;
}
.columun_right_wrap .similar_column .similar_column_img img {
  margin: 0;
}
.columun_right_wrap .similar_column .similar_column_TITLE {
  flex-basis: 70%;
}
.columun_right_wrap .similar_column .similar_column_TITLE > p {
  font-size: 15px;
  font-weight: 700;
}
.columun_right_wrap .similar_column .similar_column_detail p {
  font-size: 12px;
}

/*-------------------------------------------------*/
/*** コラム詳細**/
.columun_center_wrap .column_detail_wrap {
  margin: 0 0 30px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #ebebeb;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .columun_center_wrap .column_detail_wrap {
    margin: 0 0 20px;
    padding: 10px;
    display: block;
  }
  .similar_column_detail {display: none}
}

.columun_center_wrap .TITLE03 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 15px;
}
.columun_center_wrap .TITLE03 span {
  color: #fff;
}
.columun_center_wrap .column_detail_wrap .column_detail_head_part {
  flex-basis: 100%;
  margin: 0 0 15px;
}
.columun_center_wrap .column_detail_wrap .column_detail_head_part > div {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.columun_center_wrap .column_detail_wrap .column_detail_head_part > div:first-child + img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto 16px;
}
.columun_center_wrap .column_detail_wrap .column_detail_head_part .column_category {
  color: var(--c-color-site-org)
}
.columun_center_wrap .column_detail_wrap .column_detail_main_part {
  width: 100%;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.columun_center_wrap .column_detail_wrap .column_detail_main_part > h4 {
  flex-basis: 100%;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px;
}
.columun_center_wrap .column_detail_wrap .column_detail_main_part > p {
  flex-basis: 100%;
  font-size: 14px;
}
.columun_center_wrap .column_detail_wrap .column_detail_main_part > div, .columun_center_wrap .column_detail_wrap .column_detail_main_part > div.image {
  margin: 15px 0;
}
.columun_center_wrap .column_detail_wrap .column_detail_main_part > div > h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px;
}
.columun_center_wrap .column_detail_wrap .column_detail_main_part > div > p {
  font-size: 14px;
}
.columun_center_wrap .column_detail_wrap .similar_column {
  flex-basis: 48%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.columun_center_wrap .column_detail_wrap .similar_column > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 0 15px;
}
.columun_center_wrap .column_detail_wrap .similar_column:nth-last-child(-n + 2) > div {
  margin: 0;
}
.columun_center_wrap .column_detail_wrap .similar_column .similar_column_img {
  flex-basis: 25%;
  margin: 0 0 10px;
}
.columun_center_wrap .column_detail_wrap .similar_column .similar_column_img img {
  margin: 0;
  width: 100%;
  height: auto;
}
.columun_center_wrap .column_detail_wrap .similar_column .similar_column_TITLE {
  flex-basis: 70%;
}
.columun_center_wrap .column_detail_wrap .similar_column .similar_column_TITLE > p {
  color: #000;
  font-size: 15px;
  font-weight: 700;
}
.columun_center_wrap .column_detail_wrap .similar_column .similar_column_TITLE p:last-child {
  display: none;
}
.columun_center_wrap .column_detail_wrap .similar_column .similar_column_detail p {
  display: none;
  font-size: 12px;
}

/*** タブレット端末用**/
@media only screen and (max-width:767px) {

  .flex_wrap .columun_left_wrap {
    padding: 0;
    width: 49%;
    flex-basis: 49%;
    max-width: none;
    order: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .columun_right_wrap {
    flex-basis: 48%;
    max-width: unset;
  }
  /*.flex_wrap .columun_right_wrap {display: none;}*/
  .flex_wrap .columun_left_wrap .columun_right_wrap_sub {
    display: inherit;
  }
}

@media only screen and (max-width: 680px) {
  .columun_right_wrap {
    flex-basis: 100%;
    max-width: none;
    order: 3;
  }
  .flex_wrap .columun_left_wrap {
    flex-basis: 100%;
    width: 100%
  }
  .column_kind_wrap {
    flex-basis: 100%;
    text-align: left;
    background: none;
  }
  .column_kind_wrap ul {
    padding: 2%;
  }
  .column_kind_wrap .ranking_column {
    flex-basis: 31%;
    padding: 0 2%;
    border: none;
  }
  .column_kind_wrap .ranking_column:nth-last-child(-n + 1) {
    margin: 0;
  }
  .ranking_column > div > div:last-child {
    margin: 0 0 9px;
  }
  .ranking_column .ranking_column_img {
    flex-basis: 100%;
  }
  .ranking_column .ranking_column_TITLE {
    flex-basis: 100%;
    position: relative;
    padding: 5px 0 10px;
  }
  .ranking_column .ranking_column_TITLE img {
    width: 32px;
    height: auto;
    position: absolute;
    left: 0;
    top: 4px;
  }
  .columun_left_wrap .columun_right_wrap_sub {
    flex-basis: 100%;
    display: block;
    margin: 0 0 15px;
  }
  .columun_left_wrap .columun_right_wrap_sub .similar_main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .columun_left_wrap .columun_right_wrap_sub .similar_column {
    flex-basis: 48%;
  }
  .columun_left_wrap .columun_right_wrap_sub .similar_column:nth-last-child(-n + 2) {
    border: none;
    margin: 0;
  }
}


/*-------------------------------------------------*/
/*** ページャー**/
.paging {
  text-align: center;
  padding: 0 0 16px;
  overflow: hidden;
}
.paging ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  gap: 4px;
}
.paging li {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: inherit;
  margin: 0;
}
.paging li a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #f9fafa;
  width: 40px;
  height: 40px;
}
.paging li a:focus,
.paging li a:hover {
  text-decoration: none;
  background: var(--c-color-site-org);
  color: #fff;
}
.paging li .current {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: var(--c-color-site-org);
  color: #fff;
  width: 40px;
  height: 40px;
}
.paging li .ten, .paging li .nolink {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid #ebebeb;
  color: #000;
  padding: 0 1ex;
}
.paging li.prev a, .paging li.prev {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #fff url("../images/prev01.png") no-repeat center center;
  color: rgba(0,0,0,0);
  text-align: left;
  padding: 0;
  width: 28px;
  overflow: hidden;
}
.paging li.next a, .paging li.next {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #fff url("../images/next01.png") no-repeat center center;
  color: rgba(0,0,0,0);
  text-align: left;
  width: 28px;
  padding: 0;
  overflow: hidden;
}

@media only screen and (max-width:767px) {

  /*** ページング**/
  .paging {
    border-top: 1px solid #e9eced;
    border-bottom: 1px solid #e9eced;
  }
  .paging li {
    font-size: 12px;
  }
  .paging li .ten, .paging li .nolink {}
  .paging li.prev a, .paging li.prev {}
  .paging li.next a, .paging li.next {}
}
