@charset "UTF-8";

/**
 * 
 * NOTE: 商談、メッセージ一覧、チャットのスタイルが含まれます。
 * NOTE: 商談とメッセージ一覧のアコーディオンは見た目が似ていますが、HTMLの構造が大きく異なるのでページ上及びCSSで混在させないでください。
 * 
**/


/**
 * 商談 module
**/
.shodan__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 10px;
}

.shodan__item {
  box-shadow: var(--site-shadow);
  /*border: solid 1px #d9d9d9;*/
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.shodan__item-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 15px 30px 15px 15px;
  gap: 8px;
  position: relative;
}

/* アコーディオン実装時の色など */
.shodan__item-title[data-acc-title] {
  transition: background-color 0.2s ease;
}
.shodan__item-title[data-acc-title]:focus,
.shodan__item-title[data-acc-title]:hover {
  background-color: #dcdcec;
}
.shodan__item-title[data-acc-title].is--active {
  background-color: #e7e7f3;
}

.shodan__item-title[data-acc-title]::after {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  line-height: 0;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  transform: translate(0,-50%) scale(1.25) rotate(0deg);/* scaleで大きさの調整 */
  transition: transform 0.4s ease;
}
.shodan__item-title[data-acc-title].is--active::after {
  transform: translate(0,-50%) scale(1.25) rotate(135deg);
}


.shodan__item-title .item--new {
  display: block;
  border: solid 1px #29b32b;
  background: #29b32b;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  font-family: var(--font-family-UI);
  font-feature-settings: 'palt';
  line-height: 1;
  padding: 1px 3px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.shodan__item-title .item--title {
  font-size: 14px;
  font-weight: 700;
}
.shodan__item-title .item--date {
  color: rgba(0,0,0,0.4);
  font-size: 10px;
  font-weight: 400;
  font-family: var(--font-family-UI);
  font-feature-settings: 'palt';
  line-height: 1;
  position: absolute;
  left: 15px;
  bottom: 4px;
  z-index: 1;
}

.shodan__item-status {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  /*border: solid 1px #d9d9d9;*/
  /*background: #fff;*/
  margin: 0 0 0 auto;
  padding: 0;
  gap: 8px;
}
.shodan__item-status > span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  color: rgba(0,0,0,0.4);
  font-size: 10px;
  font-weight: 500;
  font-family: var(--font-family-UI);
  font-feature-settings: 'palt';
  line-height: 13px;
}
.shodan__item-status > b {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 3px;
  border: solid 1px #e7e7ef;
  background: #fff;
  font-size: 11px;
  font-weight: 500;
  font-family: var(--font-family-UI);
  font-feature-settings: 'palt';
  line-height: 13px;
  min-width: 96px;
  height: 2em;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}
.shodan__item-title[data-acc-title]:focus .shodan__item-status > b,
.shodan__item-title[data-acc-title]:hover .shodan__item-status > b {
  border-color: #fff;
}
.shodan__item-title[data-acc-title].is--active .shodan__item-status > b {
  border-color: #fff;
}


.shodan__item-body {
  --shodan-item-body-gap: 15px;
  --shodan-item-sidetray-width: 224px;
  --shodan-item-list-width: calc( 100% - var(--shodan-item-body-gap) - var(--shodan-item-sidetray-width) );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  background: #fff;
  padding: 15px;
  gap: var(--shodan-item-body-gap);
}
@media only screen and (max-width:767px) {
  .shodan__item-body {
    --shodan-item-body-gap: 8px;
    --shodan-item-sidetray-width: auto;
    --shodan-item-list-width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    gap: var(--shodan-item-body-gap);
  }
}

.shodan__item-list {
  width: var(--shodan-item-list-width);
}
* + .shodan__item-list {margin-top: 8px;}
@media only screen and (max-width:767px) {
  .shodan__item-list {
    order: 0;
  }
}

.shodan__item-checklist {}
.shodan__item-checklist > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: calc( var(--shodan-item-body-gap) / 2 ) 0;
}
.shodan__item-checklist > * + div {
  border-top: 1px solid #eaeaea;
}
.shodan__item-checklist > div > a {
  color: #55f;
  vertical-align: baseline;
}
.shodan__item-checklist > div > [type="checkbox"] {
  display: inline-block;
  vertical-align: baseline;
}


.shodan__item-sidetray {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  font-size: 12px;
  font-weight: 400;
  width: var(--shodan-item-sidetray-width);
  padding: 0;
  gap: 8px;
}
@media only screen and (max-width:767px) {
  .shodan__item-sidetray {
    order: 99;
  }
}

.shodan__item-contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 8px;
}
.shodan__item-contacts > a {
  display: block;
  box-shadow: var(--site-shadow-thin);
  border-radius: 5px;
  border: solid 1px #e7e7ef;
  border: solid 1px #fff;
  background: #fff;
  line-height: 1;
  padding: 12px;
}
@media only screen and (max-width:767px) {
  .shodan__item-contacts > a {
    box-shadow: none;
    border-radius: 0;
    border: solid 1px #e7e7ef;
    border: solid 1px #fff;
    background: #fff;
    line-height: 1;
    padding: 8px 0;
  }
  .shodan__item-contacts > * + a {
    border-top: solid 1px #e7e7ef;
  }
}



.shodan__item-query {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  box-shadow: var(--site-shadow-thin);
  border-radius: 5px;
  border: solid 1px #e7e7ef;
  border: solid 1px #fff;
  background: #fff;
  padding: 12px;
  gap: 8px;
}
@media only screen and (max-width:767px) {
  .shodan__item-query {
    box-shadow: none;
    border-radius: 0;
    border: solid 1px #fff;
    padding: 12px 0 0;
  }
  * + .shodan__item-query {
    border-top: solid 1px #e7e7ef;
  }
}

.shodan__item-query .item--title {
  line-height: 1;
}
.shodan__item-query .item--cate {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  font-size: 11px;
}
.shodan__item-query .item--cate-title {
  color: rgba(0,0,0,0.4);
  font-feature-settings: 'palt';
  font-family: var(--font-family-UI);
  width: 6em;
  padding: 4px 0;
}
.shodan__item-query .item--cate-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: calc( 100% - 6em );
  gap: 4px;
}
.shodan__item-query .item--cate-list:only-child {
  width: 100%;
}
.shodan__item-query .item--cate-list > * {
  display: block;
  border-radius: 4px;
  background: #f6f6f6;
  font-feature-settings: 'palt';
  font-family: var(--font-family-UI);
  padding: 4px 4px;
}
.shodan__item-query .item--cate-word {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: calc( 100% - 6em );
  gap: 4px;
}
.shodan__item-query .item--cate-word:only-child {
  width: 100%;
}
.shodan__item-query .item--cate-word > * {
  display: block;
  border-radius: 4px;
  background: #f6f6f6;
  font-feature-settings: 'palt';
  font-family: var(--font-family-UI);
  width: 100%;
  padding: 4px 4px;
}



.shodan__item-func {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  gap: 8px;
}
@media only screen and (max-width:767px) {
  .shodan__item-func {
    flex-wrap: nowrap;
    padding: 8px 0;
    order: 1;
  }
}

.shodan__item-func a {}
.shodan__item-func .btn--small,
.shodan__item-func .btn {
  max-width: none;
  min-width: 144px;
  width: auto;
  margin: 0;
}
@media only screen and (max-width:767px) {
  .shodan__item-func .btn--small,
  .shodan__item-func .btn {
    max-width: 144px;
    min-width: 0;
    width: 100%;
  }
}




/* NOTE: sidetray内部 汎用囲い部品（.shodan__item-queryと同様のスタイル） */
.shodan__item-sidetray-box {
  box-shadow: var(--site-shadow-thin);
  border-radius: 5px;
  border: solid 1px #e7e7ef;
  border: solid 1px #fff;
  background: #fff;
  padding: 12px;
  gap: 8px;
}
@media only screen and (max-width:767px) {
  /* NOTE: スマホでは余白を無くしスペースを確保するようなスタイルにする */
  .shodan__item-sidetray-box {
    box-shadow: none;
    border-radius: 0;
    border: solid 1px #fff;
    padding: 12px 0 0;
  }
  * + .shodan__item-sidetray-box {
    border-top: solid 1px #e7e7ef;
  }
}




/**
 * メッセージ module
**/
.msg__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 8px;
}
* + .msg__list {
  margin-top: 8px;
}
.msg__item {
  box-shadow: var(--site-shadow);
  /*border: solid 1px #d9d9d9;*/
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* header */
.msg__list.msg__list--header {
  background: #6F71C5;
  color: #fff;
}
.msg__list.msg__list--header .msg__item {
  background-color: transparent;
}

.msg__item-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 15px;
  gap: 8px;
  position: relative;
}

/* アコーディオン実装時の色など */
.msg__item-title[data-acc-title] {
  transition: background-color 0.2s ease;
}
.msg__item-title[data-acc-title]:focus,
.msg__item-title[data-acc-title]:hover {
  background-color: #dcdcec;
}
.msg__item-title[data-acc-title].is--active {
  background-color: #e7e7f3;
}

.msg__item-title[data-acc-title]::after {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  line-height: 0;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  transform: translate(0,-50%) scale(1.25) rotate(0deg);/* scaleで大きさの調整 */
  transition: transform 0.4s ease;
  order: 0;
}
.msg__item-title[data-acc-title].is--active::after {
  transform: translate(0,-50%) scale(1.25) rotate(135deg);
}

.msg__item-title > * {
  order: 1;
}

.msg__item-title .item--id {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--font-family-UI);
  font-feature-settings: 'palt';
  line-height: 1;
}
.msg__item-title .item--title {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--font-family-UI);
  font-feature-settings: 'palt';
  line-height: 1;
}
.msg__item-title .item--date {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--font-family-UI);
  font-feature-settings: 'palt';
  line-height: 1;
}
.msg__item-title .item--name {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--font-family-UI);
  font-feature-settings: 'palt';
  line-height: 1;
}
.msg__item-title .item--partner {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--font-family-UI);
  font-feature-settings: 'palt';
  line-height: 1;
}
.msg__item-title .item--func {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--font-family-UI);
  font-feature-settings: 'palt';
  line-height: 1;
}


.msg__item-body {
  --msg-item-body-gap: 15px;
  --msg-item-sidetray-width: 224px;
  --msg-item-list-width: calc( 100% - var(--msg-item-body-gap) - var(--msg-item-sidetray-width) );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  background: #fff;
  padding: 15px;
  gap: var(--msg-item-body-gap);
}
@media only screen and (max-width:767px) {
  .msg__item-body {
    --msg-item-body-gap: 8px;
    --msg-item-sidetray-width: auto;
    --msg-item-list-width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    gap: var(--msg-item-body-gap);
  }
}

.msg__item-func {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  gap: 8px;
}
@media only screen and (max-width:767px) {
  .msg__item-func {
    flex-wrap: nowrap;
    padding: 8px 0;
    order: 1;
  }
}

.msg__item-func a {}
.msg__item-func .btn--small,
.msg__item-func .btn {
  max-width: none;
  min-width: 144px;
  width: auto;
  margin: 0;
}
@media only screen and (max-width:767px) {
  .msg__item-func .btn--small,
  .msg__item-func .btn {
    max-width: 144px;
    min-width: 0;
    width: 100%;
  }
}



/**
 * chat module
**/
:root {
  --chat-title-fs: 28px;
  --chat-ui-fs: 14px;
}
@media only screen and (max-width:767px) {
  :root {
    --chat-title-fs: 22px;
    --chat-ui-fs: 9px;
  }
}
.chat {}

.page-chat {}

.page-chat header {
  display: none;
}
.page-chat .breadcrumb {
  display: none;
}

@media only screen and (max-width:959px) {
  .chat-outline {
    padding-top: 20px;
  }
}

.chat-outline .chat-head {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 160px;
  position: relative;
}
@media only screen and (max-width:767px) {
  .chat-outline .chat-head {
    padding: 0 44px;
  }
}

.chat-outline .chat-head .c-head__ttl {
  font-size: var(--chat-title-fs);
  word-break: break-all;
  word-wrap: normal;
  line-height: 1.5;
}


.chat__close {
  display: block;
  font-size: var(--chat-ui-fs);
  font-weight: 700;
  position: absolute;
  left: 0;
  top: calc( var(--chat-title-fs) * 0.5 * 1.5 );/* = font-size( height ) * 50% * line-height */
  z-index: 1;
  transform: translate(0,-50%);
}
.chat__close a::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border-style: solid none none solid;
  border-width: 2px 0 0 2px;
  border-color: inherit transparent transparent inherit;
  transform: translate(0,8.333%) rotate(-45deg) scale(0.5);
}


.chat__status {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: var(--c-color-site-org);
  color: #fff;
  font-feature-settings: 'palt';
  font-weight: 700;
  font-size: var(--chat-ui-fs);
  line-height: 1;
  width: auto;
  height: 40px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0 8px;
  float: left;
}
.chat__status input {
  color: #fff;
  font-weight: inherit;
  font-feature-settings: inherit;
}

.chat-outline .chat-head .chat__status {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background: transparent;
  color: inherit;
  font-family: var(--font-family-gothic);
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  gap: 8px;
  float: none;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  transform: translate(0,-50%);
}
.chat-outline .chat-head .chat__status > i {
  display: block;
  font-size: var(--chat-ui-fs);
  font-weight: 700;
  font-feature-settings: 'palt';
  line-height: 1;
  white-space: nowrap;
}
.chat-outline .chat-head .chat__status > span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  border-radius: 6px;
  border: solid 1px rgba(0,0,0,0.33);
  font-size: var(--chat-ui-fs);
  font-weight: 700;
  font-feature-settings: 'palt';
  line-height: 1;
  white-space: nowrap;
  padding: 4px 16px;
}
@media only screen and (max-width:767px) {
  .chat-outline .chat-head .chat__status {
    justify-content: center;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,0.16);
    width: auto;
    height: auto;
    margin: 4px 0 0;
    padding: 4px 16px;
    position: relative;
    right: auto;
    top: auto;
    z-index: 1;
    transform: translate(0,0);
  }
  .chat-outline .chat-head .chat__status > span {
    border-radius: 0;
    border: none;
    padding: 0;
  }
}


.chat__head-buttons {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 40px;
  gap: 8px;
  float: left;
}
.chat__head-buttons a {
  cursor: pointer;
}
.chat__head-buttons a:focus,
.chat__head-buttons a:hover {
  opacity: 0.66;
}

.chat-inner {
  clear: both;
}
.chat-inner .ifrm {
  width: 100%;
  min-height: 35vh;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 5px
}
.chat-inner .inner {
  overflow: hidden
}
.chat-footer textarea {
  padding-bottom: 40px;
}

.submit__area {
  width: 100%;
  position: absolute;
  bottom: .5rem;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center
}
.chat__submit {
  font-size: var(--chat-ui-fs);
}
.chat__submit input {
  border-left: 1px solid #ebebeb;
  font-size: inherit;
  height: 4rem;
  padding: 0 20px;
}

.btn-file {
  width: 3rem;
  margin-right: 10px;
}
.btn-file::before {
  content: '';
  display: inline-block;
  background: url("../images/icon-clip.png") center center / 100% no-repeat;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width:767px) {
  .chat-footer-close {
    max-width: none;
    width: 100%;
    margin: 0 0 2px;
  }
  .chat-footer-close a, .chat-footer-close button, .chat-footer-close input, .chat-footer-close > span {
    font-size: var(--chat-ui-fs);
    font-weight: 500;
  }
  .chat-footer textarea {
    padding: 15px 10px 40px;
  }
  .chat-footer textarea::placeholder {
    font-size: 13px;
    line-height: 2;
  }
  .submit__area {
    right: 10px;
  }
  .btn-file {
    width: 24px;
    margin: 0;
  }
}
