[S-PREVIEW_ITEM_DETAIL_CB_AREA]
<tr class="recipe-items-table__item-header recipe-items-table__item-name">
    <td colspan="5">[D-M2_DETAIL_ITEM_XXX]</td>
</tr>
<tr class="recipe-items-table__item-header">
    <td colspan="2" style="text-align: right;">Qty: [D-M2_DETAIL_QUANTITY_XXX]</td>
    <td style="text-align: right;">Unit Price: [D-M2_DETAIL_UNIT_PRICE_XXX] [D-M2_CURRENCY]</td>
    <td style="text-align: right;">Special Discount: [D-M2_DETAIL_SP_DISCOUNT_XXX] [D-M2_CURRENCY]</td>
    <td style="text-align: right;">Total: [D-M2_DETAIL_PRICE_XXX] [D-M2_CURRENCY]</td>
</tr>
<tr class="recipe-items-table__item-body">
    <td colspan="5">
        Description:<br>
        [D-M2_DETAIL_DESCRIPTION_XXX]
    </td>
</tr>
<tr class="recipe-items-table__item-body">
    <td colspan="5">
        Deliverable:<br>
        [D-M2_DETAIL_NOTE_XXX]
    </td>
</tr>
<tr class="recipe-items-table__item-footer">
    <td colspan="5">
        Payment Terms:<br>
        [D-M2_PAYMENT_NOTE_ENG_XXX]
    </td>
</tr>
<!--
<tr class="recipe-items-table__item-footer">
    <td colspan="5">
        [D-M2_SPECIAL_NOTE_TMP_XXX]
    </td>
</tr>-->
[E-PREVIEW_ITEM_DETAIL_CB_AREA]


[S-PREVIEW_ITEM_DETAIL_R_AREA]
<tr class="recipe-items-table__item-header recipe-items-table__item-name">
    <td colspan="5">[D-M2_DETAIL_ITEM_XXX]</td>
</tr>
<tr class="recipe-items-table__item-header">
    <td><!--[D-M2_DETAIL_ITEM_XXX]--></td>
    <td style="text-align: right;">[D-M2_DETAIL_QUANTITY_XXX]</td>
    <td style="text-align: right;">[D-M2_DETAIL_UNIT_PRICE_XXX] [D-M2_CURRENCY]</td>
    <td style="text-align: right;">[D-M2_DETAIL_SP_DISCOUNT_XXX] [D-M2_CURRENCY]</td>
    <td style="text-align: right;">[D-M2_DETAIL_PRICE_XXX] [D-M2_CURRENCY]<!--item result price--></td>
</tr>
<tr class="recipe-items-table__item-body">
    <td colspan="5">
        詳細:<br>
        [D-M2_DETAIL_DESCRIPTION_XXX]
    </td>
</tr>
<tr class="recipe-items-table__item-body">
    <td colspan="5">
        納品物:<br>
        [D-M2_DETAIL_NOTE_XXX]
    </td>
</tr>
<tr class="recipe-items-table__item-footer">
    <td colspan="5">
        [D-M2_PAYMENT_NOTE_JP_XXX]
    </td>
</tr>
<!--<tr class="recipe-items-table__item-footer">
    <td colspan="5">
        [D-M2_SPECIAL_NOTE_TMP_XXX]
    </td>
</tr>-->
[E-PREVIEW_ITEM_DETAIL_R_AREA]
