<section class="flow">
  <div class="l-container">
    <h2 class="top-section__ttl">ご利用の流れ</h2>
    <ul class="flow_box effect-fade">
      <li>
        <p class="flow__num">STEP.1</p>
        <h3 class="flow__ttl">登録</h3>
        <img src="/common/images/icon_guide-01.png" alt="" class="flow__img">
        <!-- <p class="flow__txt">当サイトをご利用いただくために、会員登録をしていただく必要があります。</p> -->
      </li>

      <li>
        <p class="flow__num">STEP.2</p>
        <h3 class="flow__ttl">契約締結</h3>
        <img src="/common/images/icon_guide-02.png" alt="" class="flow__img">
        <!-- <p class="flow__txt">当サイトをご利用いただくために、コスモバイオ株式会社と契約をしていただく必要があります。</p> -->
      </li>

      <li>
        <p class="flow__num">STEP.3</p>
        <h3 class="flow__ttl">サービスを探す</h3>
        <img src="/common/images/icon_guide-03.png" alt="" class="flow__img">
        <!-- <p class="flow__txt">当サイトに登録されているすべてのSupplierへサービス内容の確認、資料の受け取りが可能です。登録Supplierは本サイトの規約を遵守しております。</p> -->
      </li>

      <li>
        <p class="flow__num">STEP.4</p>
        <h3 class="flow__ttl">見積り</h3>
        <img src="/common/images/icon_guide-04.png" alt="" class="flow__img">
        <!-- <p class="flow__txt">サービス内容が決定しましたら、見積書が発行されます。</p> -->
      </li>

      <li>
        <p class="flow__num">STEP.5</p>
        <h3 class="flow__ttl">ご注文</h3>
        <img src="/common/images/icon_guide-05.png" alt="" class="flow__img">
        <!-- <p class="flow__txt">ワンクリックで発注が可能です。メッセージ画面で納期目安などご確認いただけます。</p> -->
      </li>

      <li>
        <p class="flow__num">STEP.6</p>
        <h3 class="flow__ttl">納品・請求</h3>
        <img src="/common/images/icon_guide-06.png" alt="" class="flow__img">
        <!-- <p class="flow__txt">データ等が納品されましたら、内容をご確認いただき、検収完了ボタンをクリックしてください。</p> -->
      </li>

    </ul>
  </div>
</section>
<!-- <section class="flow">
  <div class="l-container">
    <h2 class="top-section__ttl">ご利用の流れ</h2>
    <div class="flow__list effect-fade">
      <div class="flow__item">

        <p class="flow__num">STEP.1</p>
        <h3 class="flow__ttl">登録</h3>
        <p class="flow__txt">当サイトをご利用いただくために、会員登録をしていただく必要があります。</p>
      </div>
      <div class="flow__item">

        <p class="flow__num">STEP.2</p>
        <h3 class="flow__ttl">契約締結</h3>
        <p class="flow__txt">当サイトをご利用いただくために、コスモバイオ株式会社と契約をしていただく必要があります。</p>
      </div>
      <div class="flow__item">

        <p class="flow__num">STEP.3</p>
        <h3 class="flow__ttl">サービスを探す</h3>
        <p class="flow__txt">当サイトに登録されているすべてのSupplierへサービス内容の確認、資料の受け取りが可能です。登録Supplierは本サイトの規約を遵守しております。</p>
      </div>
      <div class="flow__item">

        <p class="flow__num">STEP.4</p>
        <h3 class="flow__ttl">見積り</h3>
        <p class="flow__txt">サービス内容が決定しましたら、見積書が発行されます。</p>
      </div>
      <div class="flow__item">

        <p class="flow__num">STEP.5</p>
        <h3 class="flow__ttl">ご注文</h3>
        <p class="flow__txt">ワンクリックで発注が可能です。メッセージ画面で納期目安などご確認いただけます。</p>
      </div>
      <div class="flow__item">

        <p class="flow__num">STEP.6</p>
        <h3 class="flow__ttl">納品・請求</h3>
        <p class="flow__txt">データ等が納品されましたら、内容をご確認いただき、検収完了ボタンをクリックしてください。</p>
      </div>
    </div>
  </div>
</section> -->