<section class="flow">
  <div class="l-container">
    <h2 class="top-section__ttl">Quick start guide</h2>
    <ul class="flow_box" id="flow_box_id">
      <li id="flow01">
          <a href="#flow01" class="flow__btn rotateback">
              <span>
              <p class="flow__num">STEP.1</p>
              <h3 class="flow__ttl">Registration</h3>
              <img src="https://scientist3.ms123.jp//common/images/icon_guide-01.png" alt="" class="flow__img">
              </span>
              <span>
                  <p>To use this site, you will need to register as a member.</p>
              </span>
          </a>
      </li>
      <li id="flow02">
          <a href="#flow02" class="flow__btn rotateback">
              <span>
                  <p class="flow__num">STEP.2</p>
                  <h3 class="flow__ttl">Contract</h3>
                  <img src="/common/images/icon_guide-02.png" alt="" class="flow__img">
              </span>
              <span>
                  <p>To use this site, you will need to sign an agreement.</p>
              </span>
          </a>
      </li>
      <li id="flow03">
        <a href="#flow03" class="flow__btn rotateback">
          <span>
            <p class="flow__num">STEP.3</p>
            <h3 class="flow__ttl">Looking for a service</h3>
            <img src="/common/images/icon_guide-03.png" alt="" class="flow__img">
          </span>
          <span>
              <p>If a customer searches for your service and is interested in your service, you will receive an inquiry. You can use the chat function to provide an answer.</p>
          </span>
        </a>
      </li>
      <li id="flow04">
        <a href="#flow04" class="flow__btn rotateback">
          <span>
            <p class="flow__num">STEP.4</p>
            <h3 class="flow__ttl">Quote</h3>
            <img src="/common/images/icon_guide-04.png" alt="" class="flow__img">
          </span>
          <span>
              <p>Once the customer have decided on the service, you will receive a request for a quote.</p>
          </span>
        </a>
      </li>
      <li id="flow05">
        <a href="#flow05" class="flow__btn rotateback">
          <span>
            <p class="flow__num">STEP.5</p>
            <h3 class="flow__ttl">Order</h3>
            <img src="/common/images/icon_guide-05.png" alt="" class="flow__img">
          </span>
          <span>
              <p>If the customer agrees to the terms of your quotation, a purchase order will be sent.</p>
          </span>
        </a>
      </li>
      <li id="flow06">
        <a href="#flow06" class="flow__btn rotateback">
          <span>
            <p class="flow__num">STEP.6</p>
            <h3 class="flow__ttl">Delivery and Billing</h3>
            <img src="/common/images/icon_guide-06.png" alt="" class="flow__img">
          </span>
          <span>
              <p>After you have delivered the data, deliverable etc, please send an invoice.</p>
          </span>
        </a>
      </li>
  </ul>
  </div>
</section>

<!-- <section class="flow">
  <div class="l-container">
      <h2 class="top-section__ttl">Quick start guide</h2>
    <div class="flow__list effect-fade">
      <div class="flow__item">
        
        <p class="flow__num">STEP.1</p>
          <h3 class="flow__ttl">RegistrationIn</h3>
          <p class="flow__txt">Order to use this website, you need to register as a member.</p>
        </div>
      <div class="flow__item">
        
        <p class="flow__num">STEP.2</p>
          <h3 class="flow__ttl">Contact</h3>
          <p class="flow__txt">In order to use this website, you need to sign a contract.</p>
        </div>
      <div class="flow__item">
        
        <p class="flow__num">STEP.3</p>
          <h3 class="flow__ttl">Looking for a service</h3>
          <p class="flow__txt">Customers who are looking for a service and are interested in it will contact us. Please answer using the chat function.</p>
        </div>
      <div class="flow__item">
        
        <p class="flow__num">STEP.4</p>
          <h3 class="flow__ttl">Quote</h3>
          <p class="flow__txt">Once the customer have decided on the service, you will receive a request for a quote. When you send in a quotation, the administrator will convert the currency and submit it to you.</p>
        </div>
      <div class="flow__item">
        
        <p class="flow__num">STEP.5</p>
          <h3 class="flow__ttl">Order</h3>
          <p class="flow__txt">A purchase order will be sent to you once ordering client agrees to the quote.</p>
        </div>
      <div class="flow__item">
        
        <p class="flow__num">STEP.6</p>
          <h3 class="flow__ttl">Delivery and Billing</h3>
          <p class="flow__txt">Please issue an invoice after you have delivered delivery and billing information.</p>
      </div>
    </div>
  </div>
</section> -->