<section class="flow">
  <div class="l-container">
    <h2 class="top-section__ttl">Quick start guide</h2>
    <ul class="flow_box effect-fade">
      <li>
        <p class="flow__num">STEP.1</p>
        <h3 class="flow__ttl">RegistrationIn</h3>
        <p class="flow__txt">Order to use this website, you need to register as a member.</p>
      </li>

      <li>
        <p class="flow__num">STEP.2</p>
        <h3 class="flow__ttl">Contact</h3>
        <p class="flow__txt">In order to use this website, you need to sign a contract.</p>
      </li>

      <li>
        <p class="flow__num">STEP.3</p>
        <h3 class="flow__ttl">Looking for a service</h3>
        <p class="flow__txt">Customers who are looking for a service and are interested in it will contact us. Please answer using the chat function.</p>
      </li>

      <li>
        <p class="flow__num">STEP.4</p>
        <h3 class="flow__ttl">Quote</h3>
        <p class="flow__txt">Once the customer have decided on the service, you will receive a request for a quote. When you send in a quotation, the administrator will convert the currency and submit it to you.</p>
      </li>

      <li>
        <p class="flow__num">STEP.5</p>
        <h3 class="flow__ttl">Order</h3>
        <p class="flow__txt">A purchase order will be sent to you once ordering client agrees to the quote.</p>
      </li>

      <li>
        <p class="flow__num">STEP.6</p>
        <h3 class="flow__ttl">Delivery and Billing</h3>
        <p class="flow__txt">Please issue an invoice after you have delivered delivery and billing information.</p>
      </li>

    </ul>
  </div>
</section>

<!-- <section class="flow">
  <div class="l-container">
      <h2 class="top-section__ttl">Quick start guide</h2>
    <div class="flow__list effect-fade">
      <div class="flow__item">
        
        <p class="flow__num">STEP.1</p>
          <h3 class="flow__ttl">RegistrationIn</h3>
          <p class="flow__txt">Order to use this website, you need to register as a member.</p>
        </div>
      <div class="flow__item">
        
        <p class="flow__num">STEP.2</p>
          <h3 class="flow__ttl">Contact</h3>
          <p class="flow__txt">In order to use this website, you need to sign a contract.</p>
        </div>
      <div class="flow__item">
        
        <p class="flow__num">STEP.3</p>
          <h3 class="flow__ttl">Looking for a service</h3>
          <p class="flow__txt">Customers who are looking for a service and are interested in it will contact us. Please answer using the chat function.</p>
        </div>
      <div class="flow__item">
        
        <p class="flow__num">STEP.4</p>
          <h3 class="flow__ttl">Quote</h3>
          <p class="flow__txt">Once the customer have decided on the service, you will receive a request for a quote. When you send in a quotation, the administrator will convert the currency and submit it to you.</p>
        </div>
      <div class="flow__item">
        
        <p class="flow__num">STEP.5</p>
          <h3 class="flow__ttl">Order</h3>
          <p class="flow__txt">A purchase order will be sent to you once ordering client agrees to the quote.</p>
        </div>
      <div class="flow__item">
        
        <p class="flow__num">STEP.6</p>
          <h3 class="flow__ttl">Delivery and Billing</h3>
          <p class="flow__txt">Please issue an invoice after you have delivered delivery and billing information.</p>
      </div>
    </div>
  </div>
</section> -->