<section class="flow">
  <div class="l-container">
    <div class="c-head">
      <h2 class="c-head__ttl">ご利用の流れ</h2>
      <p class="c-head__en">Flow</p>
    </div>
        <div>
          <img src="/common/images/Usageflow.jpg" alt="ご利用の流れ" class="pc--disp">
          <img src="/common/images/Usageflow-SP.png" alt="ご利用の流れ" class="sp--disp">
        </div>
    <!-- <div class="flow__list">
      <div class="flow__item">
        <p class="flow__num pc--disp">STEP.1</p>
        <div class="flow__img"><img src="/common/images/step__img01.png" width="100" height="100" alt=""></div>
        <div class="flow__desc">
          <p class="flow__num sp--disp">STEP.1</p>
          <h3 class="flow__ttl">会員登録</h3>
          <p class="flow__txt">会員登録をしていただき、ご自身のプロフィールや希望条件を登録していただきます。</p>
        </div>
      </div>
      <div class="flow__item">
        <p class="flow__num pc--disp">STEP.2</p>
        <div class="flow__img"><img src="/common/images/step__img02.png" width="100" height="100" alt=""></div>
        <div class="flow__desc">
          <p class="flow__num sp--disp">STEP.2</p>
          <h3 class="flow__ttl">お相手を探す</h3>
          <p class="flow__txt">エリア・条件など様々な方法で検索できます。ご自身の希望とのマッチ率も表示されます。</p>
        </div>
      </div>
      <div class="flow__item">
        <p class="flow__num pc--disp">STEP.3</p>
        <div class="flow__img"><img src="/common/images/step__img03.png" width="100" height="100" alt=""></div>
        <div class="flow__desc">
          <p class="flow__num sp--disp">STEP.3</p>
          <h3 class="flow__ttl">アプローチする</h3>
          <p class="flow__txt">気になるお相手にいいねを送ります。相手からもいいねされるとメッセージが可能になります。</p>
        </div>
      </div>
      <div class="flow__item">
        <p class="flow__num pc--disp">STEP.4</p>
        <div class="flow__img"><img src="/common/images/step__img04.png" width="100" height="100" alt=""></div>
        <div class="flow__desc">
          <p class="flow__num sp--disp">STEP.4</p>
          <h3 class="flow__ttl">依頼・予約</h3>
          <p class="flow__txt">メッセージから実際のご依頼や予約などをおこないます。お互いに承認することで商談成立となります。</p>
        </div>
      </div>
    </div> -->
  </div>
</section>