[CATEGORY_TAGLIST]
<!-- フッター開始 -->
<footer>
  <div class="l-container">
    <ul class="foot-nav c-flex c-flex--wrap">
      <li><a href="/about2/">About Scientist<span class="txt_up">3</span></a></li>
      <li><a href="/guide2/">User's Guide</a></li>
      <li><a href="/faq2/">Frequently Asked Questions</a></li>
      <li><a href="/contact2/">Contact Us</a></li>
      <!--<li><a href="/terms/">Terms</a></li>-->
      <li><a href="https://www.cosmobio.com/en/sustainability/governance/privacy/">Personal Information Protection
          Policies</a></li>
      <li><a href="https://www.cosmobio.com/en/sustainability/governance/cookie/">Cookie Policy</a></li>
      <li><a href="/company2/">About Us</a></li>
      <!--<li><a href="/law/">Specified Commercial Transaction Act</a></li>-->
    </ul>
    <div class="foot__logo">
      <a href="/">
        <img src="/common/images/logo.png" alt="Scientist3">
        <span class="txt_logo">by Cosmo Bio</span>
      </a>
    </div>
    <div class="foot-bottom">
      <p class="copyright">&copy; <a href="https://scientist3.ms123.jp">Scientist<span class="txt_up">3</span></a> All Rights Reserved.</p>
    </div>
  </div>
</footer>
<!-- フッター終了 -->
<script>
  // objectFitIm
</script>