[CATEGORY_TAGLIST]
<!-- フッター開始 -->
<footer>
  <div class="l-container">
    <ul class="foot-nav c-flex c-flex--wrap">
      <li><a href="/about/">Scientist<span class="txt_up">3</span>について</a></li>
      <li><a href="/guide/">ご利用ガイド</a></li>
      <li><a href="/faq/">よくある質問</a></li>
      <li><a href="/contact/">お問い合わせ</a></li>
      <li><a href="/terms/">利用規約</a></li>
      <li><a href="https://www.cosmobio.com/jp/sustainability/governance/privacy/" target="_blank">個人情報保護方針</a></li>


      [S-BASE_MATT_NONE]
      <li><a href="https://scientist3.ms123.jp/cookie/" target="_blank">クッキーポリシー</a></li>
      [E-BASE_MATT_NONE]
      [S-BASE_MATT_1]
      <li><a href="https://www.cosmobio.com/en/sustainability/governance/cookie/" target="_blank">cookie policy</a></li>

      [E-BASE_MATT_1]
      [S-BASE_MATT_2]
      <li><a href="https://scientist3.ms123.jp/cookie/" target="_blank">クッキーポリシー</a></li>
      [E-BASE_MATT_2]


      <li><a href="/company/">企業情報</a></li>
      <!-- <li><a href="/law/">特定商取引法に基づく表記</a></li> -->
    </ul>
    <div class="foot__logo">
      <a href="/">
        <img src="/common/images/logo.png" alt="SupplierとResearchersを結ぶ新たなマッチングサービス「Scientist3」">
        <p class="txt_logo">by Cosmo Bio</p>
      </a>
    </div>
    <div class="foot-bottom">
      <p class="copyright">&copy; <a href="https://scientist3.ms123.jp">Scientist<span class="txt_up">3</span></a> All Rights Reserved.</p>
    </div>
  </div>
</footer>
<!-- フッター終了 -->
<script>
  objectFitImages();
</script>