<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KX97XVGG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="is-loading">
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
<!-- ヘッダー開始 -->
<header data-login="3">
    <p class="header__logo">
        <a href="/m_schedule3/">
            <img src="/common/images/logo.png" width="195" height="44" alt="Scientist3" />
            <span class="txt_logo">by Cosmo Bio</span>
        </a>
    </p>
    <!-- ログイン後 開始 -->
    <nav class="head-nav">
        <div class="head-btn-wrap">
            <div class="head-btn head-btn-color2"><a href="/logout3/">ログアウト</a></div>
        </div>
    </nav>
    <!-- ログイン後 終了 -->
</header>
<!-- ヘッダー終了 -->