<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KX97XVGG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="is-loading">
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
<!-- ヘッダー開始 -->
<header data-login="2">
    <p class="header__logo">
        <a href="/">
            <img src="/common/images/logo.png" width="195" height="44" alt="Scientist3" />
            <span class="txt_logo">by Cosmo Bio</span>
        </a>
    </p>
    <!-- ログイン後 開始 -->
    <nav class="head-nav">
        <ul>
            <li class="nav-drawer__item"><a href="/m_message2/" class="active">[L-HNAME]</a>契約締結：[D-M2-M2_DSEL02]</li>
            <!--<li><a href="/m_feed2/">最近の投稿</a></li>-->
            <!-- <li><a href="/m_match2/">マッチング</a></li> -->
            <!-- <li><a href="/m_search2/">サプライヤーを探す</a></li>-->
            <!-- <li><a href="/m_iine2/">いいねした</a></li>
      <li><a href="/m_fav2/">いいねされた</a>[S-IINECNT]<span class="item__badge">[IINECNT]</span>[E-IINECNT]</li> -->
            <!--[S-STANDARD]<li><a href="/m_message2/">Opportunity List</a>[S-MIDOKU]<span class="item__badge">[MIDOKU]</span>[E-MIDOKU]</li>[E-STANDARD]-->
            <!--        <li class="h-btn"><a href="/plan/">プラン登録/変更/中止</a></li>-->
        </ul>
        <div class="head-btn-wrap">
            <div class="head-btn"><a href="/m_search2/">サプライヤーを探す</a></div>
            <div class="head-btn head-btn-color"><a href="/m_m2/">情報編集</a></div>
            <!-- [S-STANDARD]<div class="head-btn"><a href="/m_o2/">希望情報管理</a></div>[E-STANDARD] -->

            <!--
            <div class="head-btn head-btn-color2"><a href="/contact/">お知らせ</a></div>
            -->
            <div class="head-btn head-btn-color2"><a href="/m_info2/">お知らせ</a></div>
            <div class="head-btn head-btn-color2"><a href="/logout2/">ログアウト</a></div>
        </div>
        <div id="nav-drawer">
            <input id="nav-input" type="checkbox" class="nav-unshown">
            <label id="nav-open" for="nav-input"><span></span></label>
            <label class="nav-unshown" id="nav-close" for="nav-input"></label>
            <div id="nav-content">
                <ul>
                    <li class="nav-drawer__logo">
                        <a href="/"><img src="/common/images/logo.png" width="" height="" alt="Scientist3" /></a>
                    </li>
                    <!--          <li class="nav-drawer__item"><a href="#" class="active">[L-HNAME]様</a></li>-->
                    <!--          <li class="nav-drawer__item"><a href="#" class="active">[L-PLAN]</a></li>-->
                    <!--          <li class="nav-drawer__item"><a href="#" class="active">有効期限 [L-DATE]</a></li>-->
                    <!--          <li class="nav-drawer__item"><a href="#" class="active">残りいいね数 [IINEZAN]回（更新日毎月[L-DAY]日）</a></li>-->
                    <!--          <li class="nav-drawer__item"><a href="#" class="active">残りスカウト数 [SCOUTZAN]回（更新日毎月[L-DAY]日）</a></li>-->
                    <!--                    <li class="nav-drawer__item"><a href="/m_feed2/">新サービス一覧</a></li>-->
                    <!--<li class="nav-drawer__item"><a href="/m_match2/">マッチング一覧</a></li>-->
                    <!--                    <li class="nav-drawer__item"><a href="/m_search2/">ブックマーク一覧（サプライヤー）</a></li>-->
                    <!--                    <li class="nav-drawer__item"><a href="/m_iine2/">ブックマーク一覧（サービス）</a></li>-->
                    <!--                    <li class="nav-drawer__item"><a href="/m_fav2/">ブックマーク一覧（カテゴリ）</a></li>-->
                    <!--                    <li class="nav-drawer__item"><a href="/m_message2/">メッセージボックス</a></li>-->
                    <!--                    <li class="nav-drawer__item"><a href="/m_m2/?mode=disp">マイプロフィール確認・編集</a></li>-->
                    <!--<li class="nav-drawer__item"><a href="/m_m2/">研究者情報編集</a></li>-->
                    <!--                    <li class="nav-drawer__item"><a href="/m_o2/">Scientist's Needs</a></li>-->
                    <!--<li class="nav-drawer__item"><a href="/m_blog2/">記事投稿管理</a></li>
                    <li class="nav-drawer__item"><a href="/plan/">プランの登録/変更/中止</a></li>
                    <li class="nav-drawer__item"><a href="/plan2/">オプション申込</a></li>
                    <li class="nav-drawer__item"><a href="/v_line/">LINE連携</a></li>
                    <li class="nav-drawer__item"><a href="/m_bl2/">ブラックリスト管理</a></li>-->
                    <li class="nav-drawer__item"><a href="/m_search2/">サプライヤーを探す</a></li>
                    <li class="nav-drawer__item"><a href="/m_m2/">情報編集</a></li>
                    <li class="nav-drawer__item"><a href="/contact/">お問い合わせ</a></li>
                    <li class="nav-drawer__item"><a href="/m_info2/">運営管理者からのお知らせ一覧</a></li>
                    <li class="nav-drawer__item"><a href="/logout2/">ログアウト</a></li>
                </ul>
                <ul>
                    <li class="nav-drawer__item"><a href="/about/">Scientist3について</a></li>
                    <li class="nav-drawer__item"><a href="/guide/">ご利用ガイド</a></li>
                    <li class="nav-drawer__item"><a href="/faq/">よくある質問</a></li>
                    <li class="nav-drawer__item"><a href="/contact/">お問い合わせ</a></li>
                    <li class="nav-drawer__item"><a href="/terms/">利用規約</a></li>
                    <li class="nav-drawer__item"><a href="https://www.cosmobio.com/jp/sustainability/governance/privacy/" target="_blank">個人情報保護方針</a></li>
                    <li class="nav-drawer__item"><a href="/company/">運営会社</a></li>
                    <!-- <li class="nav-drawer__item"><a href="/law/">特定商取引法に基づく表記</a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- ログイン後 終了 -->
</header>
<!-- ヘッダー終了 -->