<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KX97XVGG" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="is-loading">
  <div id="loading">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
<!-- ヘッダー開始 -->
<header data-login="0">
  <div class="header__logo">
    <a href="/">
      <img src="/common/images/logo.png" width="195" height="44" alt="Scientist3" />
      <span class="txt_logo">by Cosmo Bio</span>
    </a>
    <!--<span>コスモ・バイオが提供するResearchersと<br>企業のマッチングプラットフォーム　</span>-->
  </div>

  <nav class="header-gnav">
    <ul class="header-gnav__list">
      <li><a href="/about/">研究者</a></li>
      <li><a href="/about2/">サプライヤー</a></li>
      <li><a href="/company/">企業情報</a></li>
      <li><a href="/contact/">お問い合わせ</a></li>
      <li>
        <a href="javascript:void(0)">その他</a>
        <div class="header-gnav__child">
          <a href="/guide/">ご利用ガイド</a>
          <a href="/faq/">よくある質問</a>
          <a href="/terms/">利用規約</a>
          <a href="https://www.cosmobio.com/jp/sustainability/governance/privacy/" target="_blank">個人情報保護方針</a>
          <a href="https://scientist3.ms123.jp/cookie/" target="_blank">クッキーポリシー</a>
          <!-- <a href="/law/">特定商取引法に基づく表記</a> -->
        </div>
      </li>
    </ul>
  </nav>

  <!-- ログイン前 開始 -->
  <nav class="head-nav user">
    <div class="head-btn-wrap">
      <div class="head-btn head-btn--en"><a href="/about2/">English</a></div>
      <div class="head-btn head-btn--m1"><a href="/login2/"><span>研究者</span><small>新規登録 / ログイン</small></a></div>
      <div class="head-btn head-btn--m2"><a href="/login1/"><span>サプライヤー</span><small>新規登録 / ログイン</small></a></div>
      <!--<div class="head-btn head-btn--gray"><a href="/contact/">Contact Us</a></div>-->
    </div>
    <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
        <ul>
          <li class="nav-drawer__logo"><a href="/"><img src="/common/images/logo.png" alt="Scientist3" /></a></li>
          <li class="nav-drawer__item"><a href="/register1/">Supplier会員登録</a></li>
          <li class="nav-drawer__item"><a href="/login1/">Supplierログイン</a></li>
          <li class="nav-drawer__item"><a href="/register2/">Researchers会員登録</a></li>
          <li class="nav-drawer__item"><a href="/login2/">Researchersログイン</a></li>
          <!-- <li class="nav-drawer__item"><a href="/search2/">サービス一覧</a></li> -->
          <!-- <li class="nav-drawer__item"><a href="/search1/">Researchersを探す</a></li> -->
          <li class="nav-drawer__item"><a href="/about/">Scientist3について</a></li>
          <li class="nav-drawer__item"><a href="/guide/">ご利用ガイド</a></li>
          <li class="nav-drawer__item"><a href="/faq/">よくある質問</a></li>
          <li class="nav-drawer__item"><a href="/contact/">Contact Us</a></li>
          <li class="nav-drawer__item"><a href="/terms/">利用規約</a></li>
          <li class="nav-drawer__item"><a
              href="https://www.cosmobio.com/jp/sustainability/governance/privacy/">個人情報保護方針</a></li>
          <li class="nav-drawer__item"><a href="https://scientist3.ms123.jp/cookie/">クッキーポリシー</a></li>

          <li class="nav-drawer__item"><a href="/company/">運営会社</a></li>

          <!-- <li class="nav-drawer__item"><a href="/law/">特定商取引法に基づく表記</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- ログイン前 終了 -->
</header>
<!-- ヘッダー終了 -->