<link rel="stylesheet" href="/common/css/import.css" />
<link rel="stylesheet" href="/common/css/jquery.bxslider.css" />
<script type="text/javascript" src="/common/js/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="/common/js/jquery.bxslider.js"></script> 
<script type="text/javascript" src="/common/js/ofi.min.js"></script> 
<script type="text/javascript" src="/common/js/common.js"></script> 
<!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="/common/js/selectivizr.js"></script>
<![endif]--> 
<!--[if lt IE 9]>
<script type="text/javascript" src="/common/js/html5.js"></script>
<![endif]-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Pinyon+Script&display=swap" rel="stylesheet">