<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KX97XVGG" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="is-loading">
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
<!-- ヘッダー開始 -->
<header data-login="1">
    <p class="header__logo">
        <a href="/about2/">
            <img src="/common/images/logo.png" width="195" height="44" alt="Scientist3" />
            <span class="txt_logo">by Cosmo Bio</span>
        </a>
    </p>
    <!-- ログイン後 開始 -->

    <nav class="header-gnav">
        <ul class="header-gnav__list">
            <li><a href="/about/">Researchers</a></li>
            <li><a href="/about2/">Suppliers</a></li>
            <li><a href="/company2/">About Us</a></li>
            <li><a href="/contact2/">Contact Us</a></li>
            <li>
                <a href="javascript:void(0)">Others</a>
                <div class="header-gnav__child">
                    <a href="/guide2/">User's Guide</a>
                    <a href="/faq2/">Frequently Asked Questions</a>
                    <a href="/terms2/">Scientist3 Terms of Use</a>
                    <a href="https://www.cosmobio.com/en/sustainability/governance/privacy/" target="_blank">Personal
                        Information Protection Policies</a>
                    <a href="https://www.cosmobio.com/en/sustainability/governance/cookie/" target="_blank">Cookie Policy</a>
                </div>
            </li>
        </ul>
    </nav>

    <nav class="head-nav">
        <ul>
            <li class="nav-drawer__item"><a href="/m_message1/" class="active">[L-HNAME]</a></li>
            <!--<li><a href="/m_feed1/">最近の投稿</a></li>-->
            <!-- <li><a href="/m_match1/">マッチング</a></li> -->
            <!--<li><a href="/m_search1/">Researchersを探す</a></li>-->
            <!-- <li><a href="/m_iine1/">いいねした</a></li>
      <li><a href="/m_fav1/">いいねされた</a>[S-IINECNT]<span class="item__badge">[IINECNT]</span>[E-IINECNT]</li> -->
            <!--[S-STANDARD]<li><a href="/m_message1/">Opportunity List</a>[S-MIDOKU]<span class="item__badge">[MIDOKU]</span>[E-MIDOKU]</li>[E-STANDARD]-->
            <!--        <li class="h-btn"><a href="/plan/">プラン登録/変更/中止</a></li>-->
        </ul>




        <div class="head-btn-wrap">
            <!--
            <div class="head-btn"><a href="/m_message1/">Opportunity List</a></div>
            <div class="head-btn"><a href="/m_schedule1/">Opportunity Progress Sheet</a></div>
            <div class="head-btn head-btn-color"><a href="/m_m1/?param=Company_information">Basic Information</a></div>

            <div class="head-btn head-btn-color2"><a href="/contact/">Contact Us</a></div>
            -->
            <!--
            <div class="head-btn head-btn-color2"><a href="/contact2/">Announcement</a></div>
            -->
            <div class="head-btn head-btn-color2"><a href="/m_info1/">Announcement</a></div>
            <div class="head-btn head-btn-color2"><a href="/logout1/">Logout</a></div>

        </div>
        <div id="nav-drawer">
            <input id="nav-input" type="checkbox" class="nav-unshown">
            <label id="nav-open" for="nav-input"><span></span></label>
            <label class="nav-unshown" id="nav-close" for="nav-input"></label>
            <div id="nav-content">
                <ul>
                    <li class="nav-drawer__logo">
                        <a href="/"><img src="/common/images/logo.png" width="" height="" alt="Scientist3" /></a>
                    </li>
                    <!--          <li class="nav-drawer__item"><a href="#" class="active">[L-HNAME]様</a></li>-->
                    <!--          <li class="nav-drawer__item"><a href="#" class="active">[L-PLAN]</a></li>-->
                    <!--          <li class="nav-drawer__item"><a href="#" class="active">有効期限 [L-DATE]</a></li>-->
                    <!--          <li class="nav-drawer__item"><a href="#" class="active">残りいいね数 [IINEZAN]回（更新日毎月[L-DAY]日）</a></li>-->
                    <!--          <li class="nav-drawer__item"><a href="#" class="active">残りスカウト数 [SCOUTZAN]回（更新日毎月[L-DAY]日）</a></li>-->
                    <!--<li class="nav-drawer__item"><a href="/m_feed1/">最近の投稿</a></li>-->
                    <!--<li class="nav-drawer__item"><a href="/m_match1/">マッチング一覧</a></li>-->
                    <!--<li class="nav-drawer__item"><a href="/m_search1/">Researchersを探す</a></li>-->
                    <!-- <li class="nav-drawer__item"><a href="/m_iine1/">いいねした求職者一覧</a></li>-->
                    <!--<li class="nav-drawer__item"><a href="/m_fav1/">いいねされた求職者一覧</a></li> -->
                    <!--<li class="nav-drawer__item"><a href="/m_message1/">メッセージボックス</a></li>-->
                    <!--<li class="nav-drawer__item"><a href="/m_m1/?mode=disp">マイプロフィール確認</a></li>-->
                    <!--<li class="nav-drawer__item"><a href="/m_m1/">マイプロフィール編集</a></li>
                    <li class="nav-drawer__item"><a href="/m_o1/">サービスメニュー編集</a></li>
                    <li class="nav-drawer__item"><a href="/m_blog1/">記事投稿管理</a></li>
                    <li class="nav-drawer__item"><a href="/plan/">プランの登録/変更/中止</a></li>
                    <li class="nav-drawer__item"><a href="/plan2/">オプション申込</a></li>
                    <li class="nav-drawer__item"><a href="/v_line/">LINE連携</a></li>
                    <li class="nav-drawer__item"><a href="/m_bl1/">ブラックリスト管理</a></li>-->
                    <li class="nav-drawer__item"><a href="/m_message1/">Opportunity List</a></li>
                    <li class="nav-drawer__item"><a href="#">Opportunity Progress Sheet</a></li>
                    <li class="nav-drawer__item"><a href="/m_m1/?param=Company_information">Basic Information</a></li>

                    <li class="nav-drawer__item"><a href="/m_info1/">List of notices from the administrator</a></li>
                    <li class="nav-drawer__item"><a href="/logout1/">Logout</a></li>
                </ul>
                <ul>
                    <li class="nav-drawer__item"><a href="/about/">About Scientist3</a></li>
                    <li class="nav-drawer__item"><a href="/guide/">User's guide</a></li>
                    <li class="nav-drawer__item"><a href="/faq/">FREQUENTLY ASKED QUESTIONS</a></li>
                    <li class="nav-drawer__item"><a href="/contact/">Contact Us</a></li>
                    <li class="nav-drawer__item"><a href="/terms2/">Terms of Use</a></li>
                    <li class="nav-drawer__item"><a
                            href="https://www.cosmobio.com/en/sustainability/governance/privacy/">Personal Information
                            Protection Policies</a></li>
                    <li class="nav-drawer__item"><a href="https://www.cosmobio.com/en/sustainability/governance/cookie/">Cookie Policy</a></li>
                    <li class="nav-drawer__item"><a href="/company/">Operating company</a></li>
                    <!-- <li class="nav-drawer__item"><a href="/law/">Notation based on the specified commercial transaction
                            law</a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- ログイン後 終了 -->
</header>
<!-- ヘッダー終了 -->