<li class="innerTab__item [Company_information_ACTIVE]"><a href="/m_m1/?param=Company_information">Company
                Information</a></li>
<li class="innerTab__item [Banking_details_ACTIVE]"><a href="/m_m1/?param=Banking_details">Banking Details</a></li>
<li class="innerTab__item [Agreements_ACTIVE]"><a href="/m_m1/?param=Agreements">Agreements</a></li>
<!-- <li class="innerTab__item [Signature_ACTIVE]"><a href="/m_m1/?param=Signature">Signature</a></li> -->
<!--
<li class="innerTab__item [Commercial_Due_Dilig_ACTIVE]"><a href="/m_m1/?param=Commercial_Due_Dilig">Commercial Due
                Diligence</a></li>
-->
<li class="innerTab__item [File10_ACTIVE]"><a href="/m_m1/?param=File10">File</a></li>
<li class="innerTab__item [Category_ACTIVE]"><a href="/m_m1/?param=Category">Category</a></li>