<!--以下、CB→研究者の情報です。-->

    <div class="recipe-desc">
      <div class="recipe-no">
        <p class="recipe-no__project-name">案件名：[PDF_SHODAN_TITLE]</p>
        <p class="recipe-no__study-code">試験番号: [M2_STUDY_CODE]</p>
      </div>

      <div class="recipe-date">
        <table class="recipe-date__table">
          <tbody>
            <tr>
              <th>見積番号<!--Quote No.:--></th>
              <td>[M2_QUOTE_NO]</td>
            </tr>
            <tr>
              <th>見積日<!--Date:--></th>
              <td>[NEWDATE]</td>
              <!--<td>[M2_DATE]</td>-->
            </tr>
            <tr>
              <th>有効期限<!--Valid until:--></th>
              <td>[FORMATTED_M2_QUOTE_VALID_UNTIL]</td>
            </tr>
            <tr>
              <th>Scientist3管理番号<!--Scientist3 Control No.:--></th>
              <td>[SCNO]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="recipe-address">
      <table class="recipe-address__table">
        <tbody>
          <!--<tr class="recipe-address__item-ttl">
            <td>Bill to:</td>
            <td>Ship to:</td>
            <td></td>
          </tr>-->
          <!--<tr class="recipe-address__item-info">
            <td>Cosmo Bio Co Ltd<br>Toyo Ekimae Bldg. 2-20, Toyo 2-chome,<br>Koto-ku, Tokyo 135-0016, Japan<br>Tel: (81)3-5632-9615</td>
            <td>Cosmo Bio Shinsuna Distribution Center<br>ShinSuna 1-Chome, Koto-Ku,Tokyo 136-0075, Japan 3F 12-39<br>TEL: 81-3-5632-9608</td>
            <td></td>
          </tr>-->
          <tr class="recipe-address__item-name">
            <td>[PDF_M2-M2_DVAL03]<br>[PDF_M2-M2_DVAL16] [PDF_M2-M2_DVAL17] 様</td>
            <td>[PDF_M1-M1_DVAL01]<br>[PDF_ADDRESS3]</td>
            <td>コスモ・バイオ株式会社<br>〒135-0016 東京都江東区東陽2-2-20<br>TEL:03-5632-9615 / MAIL:info@scientist-cube.com</td>
          </tr>
        </tbody>
      </table>
    </div>
