<!--以下、サプライヤー→CBの情報です。-->

    <div class="recipe-desc">
      <div class="recipe-no">
        <p class="recipe-no__project-name">Project Name：[PDF_SHODAN_TITLE]</p>
        <p class="recipe-no__study-code">Study Code: [M2_STUDY_CODE]</p>
      </div>

      <div class="recipe-date">
        <table class="recipe-date__table">
          <tbody>
            <tr>
              <th>Quote No.: </th>
              <td>[M2_QUOTE_NO]</td>
            </tr>
            <tr>
              <th>Date: </th>
              <td>[NEWDATE]</td>
              <!--<td>[M2_DATE]</td>-->
            </tr>
            <tr>
              <th>Valid until:</th>
              <td>[FORMATTED_M2_QUOTE_VALID_UNTIL]</td>
            </tr>
            <tr>
              <th>Scientist3 Control No.:</th>
              <td>[SCNO]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="recipe-address">
      <table class="recipe-address__table">
        <tbody>
          <tr class="recipe-address__item-ttl">
            <td>Bill to:</td>
            <td>Ship to:</td>
            <!--<td></td>-->
          </tr>
          <tr class="recipe-address__item-info">
            <td>Cosmo Bio Co Ltd<br>
              Toyo Ekimae Bldg. 2-20, Toyo 2-chome,<br>
              Koto-ku, Tokyo 135-0016, Japan<br>
              Tel: (81)3-5632-9615</td>
            <td>[PDF_ADDRESS4]</td>
            <!--<td></td>-->
          </tr>
          <tr class="recipe-address__item-ttl">
            <td>Researcher information:</td>
            <td></td>
            <!--<td></td>-->
          </tr>
          <tr class="recipe-address__item-name">
            <td>[PDF_M2-M2_ETC20]<br>
              [PDF_M2-M2_DVAL18] [PDF_M2-M2_DVAL19]</td>
            <td>[PDF_M1-M1_DVAL01]<br>
              [PDF_ADDRESS3]<br>
              [PDF_M1-M1_DVAL22] [PDF_M1-M1_DVAL23]</td>
            <!--<td></td>-->
          </tr>
        </tbody>
      </table>
    </div>
