<span>サービス費用</span>
<table>
    <tr><th>Subtotal</th><td>[MITSUMORISYO_SUBTOTAL1]</td><td>[D-M2_CURRENCY]</td></tr>
    <tr><th>Tax Rate</th><td>[MITSUMORISYO_TAX_RATE1]</td><td>%</td></tr>
    <tr><th>Sales Tax</th><td>[MITSUMORISYO_TAX_BILL1]</td><td>[D-M2_CURRENCY]</td></tr>
    <!--<tr><th>Total</th><td>[PDF_TOTAL1]</td></tr>-->
</table>
<br>
<span>手数料</span>
<table>
    <tr><th>PF手数料</th><td>[MITSUMORISYO_PF_FEE]</td><td>[D-M2_CURRENCY]</td></tr>
    <tr><th>輸入代行費用</th><td>[INPUT-M2_IMPORT_FEE]</td><td>[D-M2_CURRENCY]</td></tr>
    <tr><th>輸出代行費用</th><td>[INPUT-MITSUMORISYO_EXPORT_FEE]</td><td>[D-M2_CURRENCY]</td></tr>
    <tr><th>特別値引き（運営）</th><td>[INPUT-M2_MANAGE_DISCOUNT]</td><td>[D-M2_CURRENCY]</td></tr>
    <tr><th>小計2</th><td>[MITSUMORISYO_SUBTOTAL2]</td><td>[D-M2_CURRENCY]</td></tr>
    <tr><th>税率2</th><td>[M2_TAX_RATE2]</td><td>%</td></tr>
    <tr><th>消費税2</th><td>[MITSUMORISYO_TAX_BILL2]</td><td>[D-M2_CURRENCY]</td></tr>
</table>

<table>
    <tr><th>合計金額</th><td>[R_MITSUMORISYO_ALL_CHARGE]</td><td>[D-M2_CURRENCY]</td></tr>
</table>
