<!--サービス費用-->
<table class="recipe-details__table">
  <tbody>
    <tr>
      <th>小計1</th>
      <td><span data-format-number="[D-M2_CURRENCY]">[MITSUMORISYO_SUBTOTAL1]</span> [D-M2_CURRENCY]</td>
    </tr>
    <tr>
      <th>税率1</th>
      <td>[MITSUMORISYO_TAX_RATE1] %</td>
    </tr>
    <tr>
      <th>消費税1</th>
      <td><span data-format-number="[D-M2_CURRENCY]">[MITSUMORISYO_TAX_BILL1]</span> [D-M2_CURRENCY]</td>
    </tr>
  </tbody>
</table>

<!--手数料-->
<table class="recipe-details__table">
  <tbody>
    <tr>
      <th>PF手数料</th>
      <td><span data-format-number="[D-M2_CURRENCY]">[MITSUMORISYO_PF_FEE]</span> [D-M2_CURRENCY]</td>
    </tr>
    <tr>
      <th>輸入代行費用</th>
      <td><span data-format-number="[D-M2_CURRENCY]">[INPUT-M2_IMPORT_FEE]</span> [D-M2_CURRENCY]</td>
    </tr>
    <tr>
      <th>輸出代行費用</th>
      <td><span data-format-number="[D-M2_CURRENCY]">[INPUT-MITSUMORISYO_EXPORT_FEE]</span> [D-M2_CURRENCY]</td>
    </tr>
    <tr>
      <th>特別値引き（運営）</th>
      <td><span data-format-number="[D-M2_CURRENCY]">[M2_MANAGE_DISCOUNT]</span> [D-M2_CURRENCY]</td>
    </tr>
    <tr>
      <th>小計2</th>
      <td><span data-format-number="[D-M2_CURRENCY]">[MITSUMORISYO_SUBTOTAL2]</span> [D-M2_CURRENCY]</td>
    </tr>
    <tr>
      <th>税率2</th>
      <td>[M2_TAX_RATE2] %<!--[D-M2_CURRENCY]--></td>
    </tr>
    <tr>
      <th>消費税2</th>
      <td><span data-format-number="[D-M2_CURRENCY]">[MITSUMORISYO_TAX_BILL2]</span> [D-M2_CURRENCY]</td>
    </tr>
  </tbody>
</table>

<!--合計金額-->
<table class="recipe-details__table">
  <tbody>
    <tr>
      <th>合計金額</th>
      <td><span data-format-number="[D-M2_CURRENCY]">[MITSUMORISYO_ALL_CHARGE]</span> [D-M2_CURRENCY]</td>
    </tr>
  </tbody>
</table>