<div class="formset__item formset__item--head">
  <div class="formset__ttl">
    <strong>サービス費用</strong>
  </div>
</div>
<div class="formset__item">
  <div class="formset__ttl"><span>Subtotal</span></div>
  <div class="formset__input">[MITSUMORISYO_SUBTOTAL1] [D-M2_CURRENCY]</div>
</div>
<div class="formset__item">
  <div class="formset__ttl"><span>Tax Rate</span></div>
  <div class="formset__input">[MITSUMORISYO_TAX_RATE1] %</div>
</div>
<div class="formset__item">
  <div class="formset__ttl"><span>Sales Tax</span></div>
  <div class="formset__input">[MITSUMORISYO_TAX_BILL1] [D-M2_CURRENCY]</div>
</div>

<div class="formset__item formset__item--head">
  <div class="formset__ttl">
    <strong>手数料</strong>
  </div>
</div>
<div class="formset__item">
  <div class="formset__ttl"><span>PF手数料</span></div>
  <div class="formset__input">[MITSUMORISYO_PF_FEE] [D-M2_CURRENCY]</div>
</div>
<div class="formset__item">
  <div class="formset__ttl"><span>輸入代行費用</span></div>
  <div class="formset__input">[INPUT-M2_IMPORT_FEE] [D-M2_CURRENCY]</div>
</div>
<div class="formset__item">
  <div class="formset__ttl"><span>輸出代行費用</span></div>
  <div class="formset__input">[INPUT-MITSUMORISYO_EXPORT_FEE] [D-M2_CURRENCY]</div>
</div>
<div class="formset__item">
  <div class="formset__ttl"><span>特別値引き（運営）</span></div>
  <div class="formset__input">[M2_MANAGE_DISCOUNT] [D-M2_CURRENCY]</div>
</div>
<div class="formset__item">
  <div class="formset__ttl"><span>小計2</span></div>
  <div class="formset__input">[MITSUMORISYO_SUBTOTAL2] [D-M2_CURRENCY]</div>
</div>
<div class="formset__item">
  <div class="formset__ttl"><span>税率2</span></div>
  <div class="formset__input">[M2_TAX_RATE2] [D-M2_CURRENCY]</div>
</div>
<div class="formset__item">
  <div class="formset__ttl"><span>消費税2</span></div>
  <div class="formset__input">[MITSUMORISYO_TAX_BILL2] [D-M2_CURRENCY]</div>
</div>

<div class="formset__item formset__item--head">
  <div class="formset__ttl">
    <strong>合計金額</strong>
  </div>
</div>
<div class="formset__item">
  <div class="formset__ttl"><span></span></div>
  <div class="formset__input">[R_MITSUMORISYO_ALL_CHARGE] [D-M2_CURRENCY]</div>
</div>